.container {
    left: 250px;
    margin: 0 15px;
    padding: 30px;
    position: relative;
    max-width: 900px;
    min-height: 100vh;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background-color: #fff;
}

.container header {
    color: #333;
    position: relative;
    font-size: 20px;
    font-weight: 600;
}

.container header::before {
    left: 0;
    width: 27px;
    content: "";
    bottom: -2px;
    height: 3px;
    position: absolute;
    border-radius: 8px;
    background-color: var(--first-color);
}

.container form {
    position: relative;
    overflow: hidden;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
}

.container form .form {
    position: absolute;
    transition: 0.3s ease;
    background-color: #fff;
}

.container form .form.second {
    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;
}

form.secActive .form.second {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

form.secActive .form.first {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

.container form .title {
    color: #333;
    margin: 6px 0;
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}

.container form .fields {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

form .fields .input-field {
    width: calc(100% / 3 - 15px);
    margin: 4px 0;
    display: flex;
    flex-direction: column;
}

.input-field label {
    color: #2e2e2e;
    font-size: 12px;
    font-weight: 500;
}

.input-field input,
select {
    color: #333;
    border: 1px solid #aaa;
    height: 42px;
    margin: 8px 0;
    outline: none;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
}

.input-field input :focus,
.input-field select:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field select,
.input-field input[type="date"] {
    color: #707070;
}

.input-field input[type="date"]:valid {
    color: #333;
}

.container form button {
    left: 40%;
    color: #fff;
    width: 100%;
    cursor: pointer;
    border: none;
    height: 45px;
    margin: 25px 0;
    display: flex;
    outline: none;
    max-width: 200px;
    transition: all 0.3s linear;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    background-color: var(--first-color);
}

.container form .btnText {
    font-size: 14px;
    font-weight: 400;
}

form button:hover {
    background-color: var(--first-color-dark);
}

form button i,
form i {
    margin: 0 6px;
}

form i {
    transform: rotate(180deg);
}

form .buttons {
    display: flex;
    align-items: center;
}

form .buttons button {
    margin-right: 14px;
}

@media (max-width: 750px) {
    .container {
        left: 0;
    }

    .container form {
        overflow-y: scroll;
    }

    .container form::-webkit-scrollbar {
        display: none;
    }

    form .fields .input-field {
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field {
        width: 100%;
    }
}