.card__content {
    height: 392px;
    background: linear-gradient(0deg, #dadada96, #f8f7f796);
}

.title {
    text-align: center;
    margin: 20px;
}

.card__line {
    top: 40%;
    width: 200px;
    border: 2px solid var(--first-color);
    position: absolute;
    border-radius: 20px;
    transform: rotate(89.42deg);
}

.card__title {
    top: 27%;
    left: 9%;
    width: 450px;
    position: absolute;
}

.card__p {
    top: 38%;
    color: #000000;
    left: 9%;
    width: 450px;
    position: absolute;
    font-size: 20px;
    line-height: 24px;
}

.search__container {
    top: 65.2%;
    left: 45%;
    width: 223px;
    height: 70px;
    z-index: 1;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 5px 25px rgb(159 158 158 / 25%);
    border-radius: 51px;

    p {
        top: 30%;
        left: 20px;
        position: absolute;
        font-size: 17px;
    }

    button {
        left: 74%;
        width: 39px;
        height: 39px;
        cursor: pointer;
        bottom: 15px;
        border: none;
        position: absolute;
        background: var(--first-color);
        border-radius: 50%;

        &:hover {
            background: var(--first-color-dark);
        }
    }
}

.icon {
    color: #fff;
    font-size: 40px;
}

.img {
    top: 12%;
    left: 65%;
    width: 360px;
    height: 359px;
    position: absolute;
    background: url('../../assets/slide_01.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 620px) {
    .card__line {
        left: -4%;
        width: 99.01px;
    }

    .card__p {
        top: 35%;
        font-size: 20px;
    }

    .search__container {
        left: 8%;
        top: 68%;
    }

    .img {
        left: 0;
        opacity: 0;
    }
}

@media screen and (max-width: 1024px) {
    .img {
        left: 0;
        opacity: 0;
    }

    .card__line {
        width: 150px;
        margin-left: -12%;
        margin-top: -20px;
    }

    .card__p {
        width: 90%;
    }

    .search__container {
        top: 66.2%;
        left: 33%;
        width: 223px;

        button {
            left: 74%;
        }
    }

    .card__title {
        width: 90%;
    }
}