.card__content {
    height: 392px;
    background: linear-gradient(0deg, #dadada96, #f8f7f796);
}

.title {
    text-align: center;
    margin: 20px;
}

.card__line {
    position: absolute;
    width: 200px;
    top: 40%;
    border: 2px solid var(--first-color);
    border-radius: 20px;
    transform: rotate(89.42deg);   
}

.card__title {
    position: absolute;
    width: 450px;
    left: 9%;
    top: 27%;
}

.card__p {
    position: absolute;
    width: 450px;
    left: 9%;
    top: 38%;    
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.search__container { 
    top: 64.2%;
    left: 35%;
    width: 423px;
    height: 70px;
    position: absolute;
    z-index: 1;
    background: #FFFFFF;
    border-radius: 51px;
    box-shadow: 0px 5px 25px rgb(159 158 158 / 25%);

    p {
        position: absolute;
        font-size: 17px;
        left: 20px;
        top: 30%;
    }

    input {
        position: absolute;
        width: 182px;
        height: 33px;
        left: 40%;
        top: 25%;
        border: none;
        background: #fff;
        outline: none;
        font-size: 19px;

        &::placeholder {
            font-size: 18px;
            color: #5B5B5B;
        }
    }

    button {
        position: absolute;
        width: 39px;
        height: 39px;
        left: 82%;
        bottom: 5px;
        background: var(--first-color);
        border-radius: 50%;
        border: none;

        &:hover {
            background: var(--first-color-dark);
        }
    }
}

.icon {
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

.img {
    top: 12%;
    left: 65%;
    width: 360px;
    height: 359px;
    position: absolute;
    background: url('../../assets/slide_01.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 620px) {
  
.card__line {
    width: 99.01px;
    left: -4%;
}

.card__p {
    top: 35%;
    font-size: 20px;
}

.search__container { 
    left: 8%;
    top: 68%;
}

   .img {
    opacity: 0;
    left: 0;
   }
}

@media screen and (max-width: 1024px) {
    .img {
        opacity: 0;
        left: 0;
    }
}