.card__container {
    display: flex;
    justify-content: center;

    @media (max-width: 1220px) {
        padding: 0;
    }
}

.card {
    height: auto;
    width: 31%;
    border: 1px solid #F0F0F0;
    margin: 1%;
    position: relative;
    background: #ffffff;
    box-shadow: 0px -1px 10px rgb(199 199 199 / 25%);
    transition: all 200ms ease-out;
    border-radius: 15px;

    -o-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;

    a {
        pointer-events: none;
    }

    &::before {
        top: 25%;
        width: 3px;
        height: 50%;
        content: '';
        position: absolute;
        background: var(--first-color);
    }

    &:hover {
        transform: scale(1.01);
        box-shadow: 0px -1px 23px rgb(199 199 199 / 60%);
        transition: all 200ms ease-out;
    }

    &>a {
        color: gray;
        border: none;
        display: block;
        box-shadow: none;
    }
}

.title {
    font-size: 21px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: .5px;
    transition: all 200ms ease-out;

    @media screen and (max-width: 750px) {
        font-size: 15px;
        line-height: 19px;
        letter-spacing: .3375px;
    }
}

.text {
    margin: 10%;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: .5px;

    @media screen and (max-width: 750px) {
        font-size: 13px;
        line-height: 20px;
        letter-spacing: .281225px;
    }
}