@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

:root{
  --first-color: #9660fb;
  --first-color-dark: #23004D;
  --first-color-light: #A49EAC;
  --first-color-lighten: #F2F2F2;

  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

::-webkit-scrollbar {
  width: 0.45em;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 50%, 0);
  border-radius: 12px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 50%, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 50%, 0.6);
}

::-webkit-scrollbar-thumb:active {
  background-color: hsla(0, 0%, 50%, 1);
}

@media screen and (min-width: 768px) {
  :root {
    --normal-font: 1rem;
    --small-font: .875rem;
  }
}