@import "../../_breakpoints.scss";

.footer {
  background-color: var(--first-color-lighten);
  border-top: 3px solid var(--first-color);

  a {
    color: #000;
    font-size: 1.1rem;
    transition: color 200ms ease, transform 200ms ease;
    text-decoration: none;

    &:hover {
      color: var(--first-color);
      transform: translateX(0.4rem);
    }
  }

  &__container {
    gap: 2rem;
    width: 100%;
    color: #000;
    margin: 0 auto;
    display: flex;
    padding: 2rem 0;
    max-width: var(--max-width);
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  &__section {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  &__category {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    border-bottom: 2px solid var(--first-color);
    padding-bottom: 0.25rem;
  }

  .social-media {
    a {
      width: 32px;
      height: 32px;
      display: grid;
      align-self: center;
      place-content: center;
      border-radius: 50%;
      background-color: var(--first-color-light);
    }

    &__container {
      @extend .footer__section;
    }
  }

  @include media(tablet) {
    a {
      width: fit-content;
    }

    &__container {
      gap: 2rem 5rem;
      display: grid;
      padding: 3rem 8rem;
      text-align: left;
      align-items: normal;
      grid-template-columns: 1fr 1fr;
    }

    &__category {
      width: fit-content;
    }

    .social-media__container {
      gap: 1rem;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .social-media a {
      align-self: flex-start;

      @media (hover: hover) {
        &:hover {
          transform: translateY(0.3rem);
        }
      }
    }
  }

  @include media(desktop-s) {
    &__container {
      gap: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__category {
      width: fit-content;
    }
  }

  @include media(desktop-m) {
    &__container {
      padding: 3rem 10rem;
    }
  }
}