.container__items {
    height: 400px;
}

.container__images {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

    .content_img {
        overflow: hidden;
        margin: 20px;
        img {
            width: 124px;
            height: 126px;
            border-radius: 50%;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            margin: 23px;

            -webkit-filter: grayscale(1);
        }

        .name {
            text-align: center;
        }

        p {
            text-align: center;
        }
    }
}