.container__items {
    height: 400px;
}

.container__images {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .content_img {
        margin: 20px;
        overflow: hidden;

        img {
            width: 124px;
            height: 126px;
            margin: 23px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            align-items: center;
            border-radius: 50%;

            -webkit-filter: grayscale(1);
        }

        .name {
            text-align: center;
        }

        p {
            text-align: center;
        }
    }
}