.frem {
    width: 100%;
    height: 100vh;
    display: flex;
    background: url('/src/assets/gifs.gif');
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
}

.frem p {
    top: 3rem;
    color: var(--first-color);
    position: absolute;
    font-size: 7rem;
}

.frem h2 {
    bottom: 27rem;
    position: absolute;
    font-size: 34px;
}

.frem h5 {
    color: #9c9c9c;
    bottom: 20rem;
    position: absolute;
}

.frem a {
    color: white;
    bottom: 1rem;
    position: absolute;
    padding: 12px;
    font-size: 23px;
    background: linear-gradient(45deg, var(--first-color-dark), var(--first-color));
    border-radius: 13px;
    text-decoration: none;
}

@media screen and (max-width: 1366px) {
    .frem h2 {
        top: 12rem;
    }

    .frem h5 {
        bottom: 6rem;
    }

    .frem a {
        bottom: 12px;
    }
}

@media screen and (max-width: 1727px) {
    .frem h2 {
        top: 11rem;
    }

    .frem h5 {
        bottom: 6rem;
    }

    .frem a {
        bottom: 2rem;
    }
}